In [1]:
a = 5
b = 3
print(a + b)

8

In [4]:
name = input('이름을 입력하세요.')
print(f'{name}님 환영합니다!')

이름을 입력하세요.유시훈
유시훈님 환영합니다!

In [7]:
for i in range(1, 11):
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [61]:
alist = [1,2,3,4,5]
alist_revers = alist[::-1]
alist_revers

[5, 4, 3, 2, 1]

In [59]:
atuple = (1,2,3)
atuple

(1, 2, 3)

In [41]:
a = 'Hello World'
a[::-1]

'dlroW olleH'

In [67]:
s1 = 'Hello World'
s2 = "Hello World"
s3 = """Hello World"""

In [74]:
type(s3)

str

In [68]:
s1

'Hello World'

In [69]:
s2

'Hello World'

In [70]:
s3

'Hello World'

In [11]:
a, b = map(int, input().split())

print(a*b)

4 8
32

In [10]:
blist = [1,2,3,4,5]

print(blist[2])

3

In [21]:
clist = [1,2,3,4,5]

print(clist[0]+clist[1]+clist[2]+clist[3]+clist[4])

15

In [19]:
p = 'python'

for i in range(3):
    print(p)

python
python
python

In [36]:
a = 3.0
b = 5
c = a/b
type(c)

float

In [37]:
print(c)

0.6

In [38]:
type(name)

str

In [42]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [48]:
sum = 0
for i in range(1, 11):
    if i % 2 != 0:
        sum += i
print(sum)

25

In [54]:
sum1 = 0
sum2 = 0
sum3 = 0
for i in range(1, 11):
    if i % 3== 0:
        sum1 += i
    elif i % 3== 1:
        sum2 += i
    else :
        sum3 += i
print(f'짝수의 합은 {sum1}, 홀수의 합은 {sum2}입니다. {sum3}')

짝수의 합은 18, 홀수의 합은 22입니다. 15